#b21{
    background-color: aqua;
    height: 600px;
    width: 122%;
   padding: 20px;
   
  }
  #b22{
    color:brown;
    font-style: oblique;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 60px;
  }
  .footer {
    margin-top: 50px;
     color: #fff;
     text-align: center;
     padding: 20px 0; 
     position:relative ;
      width: 160%;
     bottom: 0;
    
   } 