#c1{
    background-color: aliceblue;
    height: 350px;
    width: 100%;
    text-align: justify;
    
   }
   #a22{
    text-align: left;
   }
   #a30{
    text-align: left;
   }
  
  #c2{
    margin-left: 50px;
    color: orangered;
    font-family: 'Times New Roman', Times, serif;
   }
  #c3{
    color: black;
    font-family: 'Times New Roman', Times, serif;
   margin-left: 350px;
   
  }
  #c4{
    background-image: url(../assets/scl.jpg);
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    margin-left: 870px;
    background-size: 600px;
    margin-top: -140px;
  }
  
  #a23{
    background-color: moccasin;
    height: 400px;
    margin-top: 10px;
  }
  #a24{
    background-color: thistle;
    height: 450px;
  }
  #a25{
    background-color: linen;
    height: 850px;
  
  }
  .footer {
    margin-top: 20px;
     color: #fff;
     text-align: center;
     padding: 20px 0; 
     position:relative ;
      width: 130%;
     bottom: 0;
    
   } 
   #a26{
    margin-top: -50px;
  
   }
   #a31{
    text-align: left;
   }
  #a27{
    background-color: lightsteelblue;
    height: 880px;
    text-align: left;
  }
   