#d1{
    background-color: lightsalmon;
    text-align: center;
    height: 400px;
    font-size: 30px;
  }
  #d2{
   
    height: 100px;
    font-size: larger;
  }
  #d3{
    height: 50px;
    font-size: larger;
  }
  #d4{
    height: 80px;
    font-size: 35px;
  }
  #i5{
    background-color: cyan;
    height: 1200px;
    text-align: left;
  }
  #d6{
    background-color: burlywood;
    height: 640px;
    margin-top: -50px;
  }
  