#d1{
    background-color: aliceblue;
    text-align: center;
    height: 250px;
    font-size: 30px;
  }
  #d2{
    color: orangered;
    font-family: 'Times New Roman', Times, serif;
    height: 100px;
   margin-top: 10px;
  }
  #d3{
    height: 50px;
    font-size: 20px;
    margin-left: 200px;
    margin-top: -40px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
  }
  #d4{
 
    height: 80px;
    font-size: 35px;
  }
  #i5{
    background-color: cyan;
    height: 1200px;
    text-align: left;
    font-size: 20px;
  
  }
  #d6{
    background-color: burlywood;
    height: 850px;
    margin-top: -130px;
  }
  #ks{
    font-size: 50px;

   
  }
  