#c1{
    background-color: aliceblue;
    height: 350px;
    width: 100%;
    text-align: justify;
    
   }
   #a22{
    text-align: left;
   }
   #a30{
    text-align: left;
   }
  
  #c2{
    margin-left: 50px;
    color: orangered;
    font-family: 'Times New Roman', Times, serif;
   }
  #c3{
    color: blue;
   margin-left: 350px;
   font-family: 'Times New Roman', Times, serif;
   font-size: 50px;
   
  }
  #c4{
    background-image: url(../assets/scl.jpg);
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    margin-left: 870px;
    background-size: 600px;
    margin-top: -190px;
  }
  
  #a23{
    background-color: moccasin;
    height: 600px;
    margin-top: 10px;
    font-size: 20px;
  }
  #a24{
    background-color: thistle;
    height: 650px;
    font-size: 20px;
  }
  #a25{
    background-color: linen;
    height: 1150px;
    font-size: 20px;
  
  }
  
  .footer {
    margin-top: 20px;
     color: #fff;
     text-align: center;
     padding: 20px 0; 
     position:relative ;
      width: 130%;
     bottom: 0;
    
   } 
   #a26{
    margin-top: -50px;
  
   }
   #a31{
    text-align: left;
   }
  #a27{
    background-color: lightsteelblue;
    height: 1980px;
    text-align: left;
    font-size: 20px;
  }
  .custom-bullet {
    position: relative;
    padding-left: 20px; /* Add space for the bullet */
    margin-bottom: 10px;
  }
  
  .custom-bullet:before {
    content: '•'; /* Unicode bullet character */
    position: absolute;
    left: 0;
    top: 0;
    color: black; /* Bullet color */
    font-size: 1.5em; /* Bullet size */
    line-height: 1; /* Align bullet vertically with the text */
  }
  
   