#b41{
    background-color: aqua;
    height: 400px;
    width: 121.9%;
   padding: 20px;
   
  }
  #b42{
  
    color:brown;
    font-style: oblique;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
  }
  .footer {
    margin-top: 70px;
     color: #fff;
     text-align: center;
     padding: 20px 0; 
     position:relative ;
      width: 125%;
     bottom: 0;
    
   } 