#a1{
    background-color: aqua;
    width: 100%;
    height: 70px;
}
#a2{
    background-image: url(./Logo-sevak.PNG);
    height: 70px;
    width: 40%;
    background-repeat: no-repeat;
    background-size: 260px;
    margin: 10px;
    float: left;
}
#a3{
    color: brown;
    margin-left: 290px;
    margin-top: 10px;
    
}
#a4{
    background-image: url(./img\ cover.jpeg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}
#a5{
    font-size: 40px;
    color: greenyellow;
 }
.a6{
    background-image: url(./img2.avif);
    width: 100%;
    height: 800px;
    background-size: 600px;
    background-repeat: no-repeat;
}
#a7{
    font-size: 40px;
    color: blue;
    margin-left: 650px;
}
#a8{
    margin-top: 10px;
    margin-left: 650px;
    text-align:left;
    display: flex;
    justify-content: end;
}
#a9{
    color: blue;
    font-size: 30px;
    margin-top: -360px;
    margin-left: 560px;
}
#a10{
    background-image: url(./mobile.webp);
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    margin-top: -10px;
}
#a11{
    background-image: url(./web.webp);
    height: 250px;
    width: 50%;
    background-repeat: no-repeat;
    margin: 500px;
    background-size: 500px;
    margin-top: -430px;
}
#a12{
    background-image: url(./api3.jpeg);
    height: 250px;
    width: 30%;
    background-repeat: no-repeat;
    margin: 1150px;
    margin-top: -430px;
}
#a13{
   margin-right: 1080px;
   margin-top: -300px;
}
#a14{
    margin-right: 1160px;
    margin-top: -30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: -10px;
}
#a15{
   margin-left: 530px;
    margin-top: -450px;

}
#a16{
   margin-left: 460px;
    margin-top: -30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: -10px;

}
#a17{
    margin-left: 1110px;
   margin-top: -1100px;
}
#a18{
    margin-left: 1090px;
    margin-top: -40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: -10px;
}
#a19{
    width: 100%;
    height: 70px;
    background-color: dimgrey;
    
}
#a20{
    color: aliceblue;
}
.navbar{
    background-color: khaki;
    height: 40px;
    width: 61%;
    margin-left: 570px;
   
}
#home{
   margin-left: 300px;

}
#home:visited{
    color: blue;
    background-color: orange;

}
.Solutions:hover{
    transform: scale(1.5);
    

}
#b1{
    background-color: aqua;
    height: 600px;
    width: 100%;
}
#b2{
    color:brown;
    font-style: oblique;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}